extends ../layout

block content

  h1 #{title}: #{bookinstance._id}

  p Book: #{bookinstance.book.title}

  p Do you really want to delete this book instance?

  form(method='POST' action='')

    div.form-group.mt-3

      input#bookinstanceid.form-control(type='hidden' name='bookinstanceid' value=bookinstance._id required)

    button.btn.btn-primary(type='submit') Delete
